@import url(/styles/header.css);
@import url(/styles/messages.css);
@import url(/styles/button.css);
@import url(/styles/input.css);

* {
    margin: 0;
    padding: 0;
}
:root {
    --padding-msg: 5px 10px 5px 10px;
    --color-main: #75b3b3;
    --color-msg-bot: #E24733;
    --color-msg-client: #F37C05;
    --color-text: #ffffff;
    --color-background: #B3D5D1;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-background);
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.chatbot {
    width: 400px;
}
